/* 
  comment (8월 17일자) 
  - url 에 ''<- 경로를 감싸는 게 없음
  - 하단에 #header 부분은 font css 이외의 css 임 해당내용은 common 부분으로 이동
  font는 font-face 등 정말 폰트 정보만 들어가있어야함
*/
@font-face {
  font-family: "NanumSquare";
  src: url(../font/nanumsquareb.eot);
  src: url(../font/nanumsquareb.eot?#iefix) format("embedded-opentype"),
    url(../font/nanumsquareb.woff) format("woff"),
    url(../font/nanumsquareb.ttf) format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  src: url(../font/nanumsquarer.eot);
  src: url(../font/nanumsquarer.eot?#iefix) format("embedded-opentype"),
    url(../font/nanumsquarer.woff) format("woff"),
    url(../font/nanumsquarer.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src:url(../font/roboto-v20-latin-regular.eot);
  src:url(../font/roboto-v20-latin-regular.eot?#iefix) format("emmbedded-opentype"),
        url(../font/roboto-v20-latin-regular.woff) format("woff"),
        url(../font/roboto-v20-latin-regular.ttf) format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");