.box_width {width:1140px; margin:0 auto;}
.clearfix:after{content:''; display:block; clear:both; width:0; height:0; overflow:hidden;}
.hide{display:none;}
/* css 내에도 분기를 잡아 주는 것이 좋다 */

/* header */
#wrap {min-width:1200px;}
#header {height:126px;font-family: "Nanum Gothic", sans-serif;}
#nav{height:86px; background-color:#f22727;}

.gnb {height:40px;background-color:rgb(128, 80, 80); color:#555;}

.logo{float:left;width:160px;height:28px;background:url(../images/logo.png)  no-repeat;}
.logo a {display:block; width:160px; height:28px;}

.tmenu {float: right;}
.tmenu li{float:left; padding:0 0 10px 13px;}
.tmenu li :nth-child(1):after {
    content:'';
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    width:1px;
    height:7px; 
    background-color:coral;
    vertical-align:top;
}
.tmenu li a{color:#fff; font-weight:11px;}