body {background-color: antiquewhite;}
/*common*/
.inner_content {width:1140px; margin:0 auto;}
.screen_out {display:block; overflow:hidden; width:0; height:0; text-indent:-9999px;}
/* 여기에 top left값을 정해서 위치를 정해준다 */
.ico_hot {overflow:hidden; position:absolute; width:12px; height:12px; background:url(../images/sp_icon.png) no-repeat; text-indent:-9999px; content:'';}
.ico_new {overflow:hidden; position:absolute; width:12px; height:12px; background:url(../images/sp_icon.png) -22px -17px no-repeat; text-indent:-9999px; content:'';}

/*header*/
.wrap {min-width:1200px;}
.header {position:relative; height:126px; font-family:"Nanum Gothic", sans-serif;}
.nav {height:126px; background-color:#f22727;}
.nav > .inner_content {height:86px;}

.logo {position:absolute; width:160px; height:28px; padding-top:29px; background:url('../images/logo.png') 0 29px no-repeat;}
.logo:after {display:block; overflow:hidden; width:0; height:0; clear:both; content:'';}
.logo a {display:block; height:28px;}

.nav_top {height:40px;}
.menu_top {float:right; padding:12px 0 14px;}
.menu_top li {float:left; position:relative; padding-left:13px; line-height:12px;}
.menu_top li:first-child {margin-right:14px;}
.menu_top li:first-child:after {display:block; position:absolute; top:4px; left:116px; width:1px; height:7px; background-color:#F77D7D; content:'';}
.menu_top li a {color:#fff; font-size:11px;}
.menu_top_cart .cart_ico {display:inline-block; overflow:hidden; width:8px; height:10px; background:url(../images/sp_icon.png) -152px 0 no-repeat; text-indent:-9999px; vertical-align: middle;}
.menu_top_cart  .cart_arrow_btn {display:inline-block; overflow:hidden; width:6px; height:4px; background:url(../images/arrow_bottom.png) no-repeat; }


.nav_right {text-align: right;}
.nav_right:after {display:block; overflow:hidden; width:0; height:0; clear:both; content:'';}
.menu_q {display:inline-block; padding-right:10px;vertical-align:middle;}
.menu_q:after {display:block; overflow:hidden; width:0; height:0; clear:both; content:'';}
.menu_q li {display:inline-block; font-family:'Roboto', sans-serif; line-height:29px;}
.menu_q li + li {padding-left:10px;}
.menu_q li a {color:#fff; font-size:17px;}
.menu_q li a:hover {color:#fbbebe;}
.menu_q .menu_q_small a {font-family:"Nanum Gothic", sans-serif; font-size:14px; font-weight:700; line-height:25px;}

.srch_form {display:inline-block; position:relative; width:202px; height:30px; padding:0 44px 0 14px; background-color:#fff; border-radius:15px; vertical-align:middle;}
.srch_form:after {display:block; overflow:hidden; width:0; height:0; clear:both; content:'';}
.srch_form input {display:block; width:100%; height:29px; margin:0; border-style: none; border-radius:15px; color:#666;}
.srch_form input:focus {outline: none;}
.srch_btn {overflow:hidden; position:absolute; top:8px; right:40px; width:14px; height:14px; background:url(../images/sp_icon.png)  -108px 0 no-repeat; text-indent:-9999px;}

/*gnb*/
.gnb {height: 40px; background-color:#fff;;}
.gnb > li {display:inline-block; position:relative; padding:0 9px; line-height:40px;}
.gnb > li > a {display:inline-block;}
.gnb .gnb_line::before {display:inline-block; width:1px; height:7px; margin-right:18px; background-color:#ccc; content:'';}

.gnb_inner {position:relative; width: 1140px; margin: 0 auto;}
.gnb_inner .list_sub {font-size: 0;}
.gnb_inner .list_sub > li {display: inline-block ;padding:0 9px;}
.gnb_inner .list_sub > li > a {display: inline-block; font-size:12px; line-height:40px;}
/* 하단에는 z-index를 주어 오버시에 보일 수 있도록 한다. */
.gnb_inner .lnb_group {display:inline-block; position:absolute; top:40px; left:0; padding:16px 0 23px; background-color: #fff; border-top:1px solid #f5f5f5;}
.lnb_list {display:inline-block; width:154px; padding:0 20px; font-size:12px; background-color:#fff; vertical-align: top; border-left:1px solid #eee;}
.lnb_list:first-child {border:none;}
.lnb_list p {line-height:2; font-size:13px; font-weight:bold;}
.lnb_list p:hover {color:#ff3131;}
/* 하단에 있는 li에 position relative를 주어 기준점을 만든다 */
.lnb_list li {line-height:26px;}
.lnb_list li:hover {background-color:#f2f2f2;}
.lnb_list li a {display:block;}
.lnb_list_bold {font-weight:bold;}
.lnb_list .lnb_list_sale a {color:#ff3131;}
.lnb_list .lnb_list_evt a {color:#3f75ff;}

 /*visual*/
 .container {width:100%;}
 .visual {position:relative; background:url(../images/mainvisual.jpg) no-repeat;}
 .visual_inner {width:1140px; margin:0 auto;}
 .visual_wrap {position:relative; height:600px; text-align:left;}
 .visual_h_group {position:relative; top:50%; transform:translateY(-72px);}
 .visual_h_group .visual_h {display:inline-block; margin-bottom:16px; color:#000;font-size:40px; font-family:'Roboto', sans-serif; font-weight:600;}
 .visual_h_group .h_percent {display:inline-block; height:24px; padding:0 8px; border-radius:12px; background-color:#ff3131; color:#fff; vertical-align:middle;}
 .visual_h_group .h_coupon {display:inline-block; height:24px; padding:0 8px; border-radius:12px; background-color:#00b160; color:#fff; vertical-align:middle;}
 .visual_h_group b {font-size:13px; line-height:24px; vertical-align:top;}
 .visual_h_group .visual_dsc {color:#0d0d0d; font-size:15px; font-family:"Nanum Gothic", sans-serif;}

 .arrow_group {position:absolute; bottom:32px; left:50%; transform:translatex(-80px);}
 .arrow_group li {float:left; height:8px; padding:0 6px;}
 .arrow_group li:after {display:block; overflow:hidden; width:0; height:0; clear:both; content:'';}
 .arrow_group li a {display:inline-block; width:8px; height:8px;  background-color:#fff; border-radius:50%; text-indent:-9999px;}
 /*무엇ㅇ이 잘못 일까~~~*/
 .arrow_group li a:first-child {background-color:#00b160;}

 .visual_btn {position:absolute; top:50%; width:36px; height:72px; background:url(../images/sp_icon.png) no-repeat; text-indent:-9999px;}
 .prev {left:80px; background-position:0 -110px;; transform:translatey(-31px);}
 .next {right:80px; background-position:-54px -110px; transform:translatey(-31px);}