/*common*/
.gototop {position:fixed; right:250px; bottom:100px; z-index:999; width:50px; height:50px; border-radius:50%; background-color:#eee; text-align:center; vertical-align:middle;}
.gototop a {display:block; color:#666; font-size:10px; font-family:'Roboto', sans-serif;}
.gototop a span {display:inline-block; width:8px; height:7px; margin:10px 21px 10px; background:url('../images/sp_icon.png') -236px 0 no-repeat; text-indent:-9999px; }
.inner_content {width:1140px; margin:0 auto;}
.container {width:100%;}
.screen_out {display:block; overflow:hidden; width:0; height:0; text-indent:-9999px;}
.ico {display:inline-block; overflow:hidden; text-indent:-9999px; content:'';}
.font_bold {font-family:'Roboto', sans-serif; font-weight:800;}
.semo::before {position:absolute; top:12px; left:0; width:0; height:0; border-style:solid; border-width:12px 12px 0 0; content:''}
.bx_img img {width:100%;}
 /*big4*/
 .big4 {padding-top:80px; font-size:0;}
 .list_big4 li {display:inline-block; width:550px; height:410px;}
 .list_big4 li:nth-child(2n-1) {padding-right:40px;}
 .list_big4 li a {display:block; font-size:12px;}
 .list_big4 .big4_desc {padding-top:14px; color:#000;}
 .big4_desc h2 {font-size:18px; font-weight:800;}
 .big4_desc .font_bold {padding-left:4px; color:#ff3131;}
 .big4_desc p {padding-top:7px; font-size:13px;}


/*header*/
.wrap {min-width:1200px;}
.header {position:relative; height:126px; font-family:'Nanum Gothic', sans-serif;}
.nav {height:126px; background-color:#f22727;}
.nav > .inner_content {height:86px;}

.logo {position:absolute; width:160px; height:28px; padding-top:29px; background:url('../images/logo.png') 0 29px no-repeat;}
.logo::after {display:block; overflow:hidden; width:0; height:0; clear:both; content:'';}
.logo a {display:block; height:28px;}

.nav_top {height:40px;}
.menu_top {float:right; padding:12px 0 14px;}
.menu_top li {float:left; position:relative; padding-left:13px; line-height:12px;}
.menu_top li:first-child {margin-right:14px;}
.menu_top li:first-child::after {display:block; position:absolute; top:4px; left:116px; width:1px; height:7px; background-color:#F77D7D; content:'';}
.menu_top li a {color:#fff; font-family:'Roboto', sans-serif; font-size:11px;}
.menu_top_cart .cart_ico {display:inline-block; overflow:hidden; width:8px; height:10px; background:url('../images/sp_icon.png') -152px 0 no-repeat; text-indent:-9999px; vertical-align: middle;}
.menu_top_cart  .cart_arrow_btn {display:inline-block; overflow:hidden; width:6px; height:4px; margin-left:3px;  background:url('../images/arrow_bottom.png') no-repeat; text-indent:-9999px;}

.nav_right {text-align: right;}
.nav_right::after {display:block; overflow:hidden; width:0; height:0; clear:both; content:'';}
.menu_q {display:inline-block; padding-right:10px; vertical-align:middle;}
.menu_q::after {display:block; overflow:hidden; width:0; height:0; clear:both; content:'';}
.menu_q li {display:inline-block; font-weight:700;  line-height:30px;}
.menu_q li + li {padding-left:10px;}
.menu_q li a {color:#fff; font-size:16px;}
.menu_q li a:hover {color:#fbbebe;}
/* .menu_q .menu_q_small a {font-size:16px; font-weight:700;} */

.srch_form {display:inline-block; position:relative; width:202px; height:30px; padding:0 44px 0 14px; border-radius:15px; background-color:#fff; vertical-align:middle;}
.srch_form::after {display:block; overflow:hidden; width:0; height:0; clear:both; content:'';}
.srch_form input {display:block; width:100%; height:29px; margin:0; border-style:none; border-radius:15px; color:#666;}
.srch_form input:focus {outline:none;}
.srch_btn {overflow:hidden; position:absolute; top:8px; right:40px; width:14px; height:14px; background:url('../images/sp_icon.png')  -108px 0 no-repeat; text-indent:-9999px;}


/*gnb*/
.gnb {height:40px; background-color:#fff;} 
.gnb > li {display:inline-block; position:relative; padding:0 10px; color:#555; line-height:40px;}
.gnb > li > a {display:inline-block;}
.gnb .gnb_line::before {display:inline-block; width:1px; height:7px; margin-right:18px; background-color:#ccc; content:'';}

.gnb_inner {position:relative; width:1140px; margin:0 auto;}
.gnb_inner .list_sub {font-size:0;}
.gnb_inner .list_sub > li {display:inline-block; padding:0 10px;}
.gnb_inner .list_sub > li > a {display:inline-block; position:relative; color:#000; font-size:12px; line-height:40px;}
.gnb_dot::after {position:absolute; top:8px; right:-4px; width:4px; height:4px; border-radius:50%; background-color:#ff3131; content:'';}
.gnb_inner .lnb_group {display:inline-block; position:absolute; top:40px; left:0; padding:16px 0 23px; background-color: #fff; border-top:1px solid #f5f5f5;}
/*.gnb_inner .lnb_group {z-index:10;}*/
.lnb_list {display:inline-block; width:190px; height:320px; font-size:12px; background-color:#fff; vertical-align: top; border-left:1px solid #eee;}
.lnb_list:first-child {border:none;}
.lnb_list p {margin-left:20px; color:#555; font-size:13px; font-weight:800; line-height:26px; cursor:pointer;}
.lnb_list p:hover {color:#ff3131;}
.lnb_list:first-child > p  {padding-left:10px;}
/* .lnb_list li {position:relative; line-height:26px;  cursor:pointer;} */
.lnb_list li {line-height:26px;  cursor:pointer;}
.lnb_list li:hover {background-color:#f2f2f2;}
/* .lnb_list li a {display:block; overflow:hidden; position:relative; width:110px; margin-left:20px; color:#555; white-space:nowrap; text-overflow: ellipsis;} */
.lnb_list li a {display:block; margin-left:20px; color:#555;}
.lnb_list:first-child li {padding-left:10px;}
.lnb_list_bold {font-weight:800;}
.lnb_list .lnb_list_sale a {color:#ff3131;}
.lnb_list .lnb_list_evt a {color:#3f75ff;}
.lnb_hot {width:12px; height:12px; background:url('../images/sp_icon.png') no-repeat; vertical-align:top;}
.lnb_new {width:12px; height:12px; background:url('../images/sp_icon.png') -22px -17px no-repeat; vertical-align:top;}
