/*big4*/
.big4 {padding-top:80px;}
.big4 .big4_list {font-size:0;}
.big4_list li {display:inline-block; width:550px; height:410px;}
.big4_list li:nth-child(2n) {padding-left:40px;}
.big4_list li a {display:block;}
.big4_list li a img {width:100%;}
.big4_desc .big4_h {padding-top:16px; font-size:18px;}
.big4_desc span {color:#ff3131; margin-left:5px;}
.big4_desc p {padding-top:5px; font-size:13px;}


/*visual*/
.visual {overflow:hidden; position:relative; height:600px;}
.visual_list li {position:absolute; width:100%; opacity:0.5; transition-duration: 0.4s;}
.visual_list li.show {opacity:1; z-index:1;}
.visual_list li .visual_h_group {position:absolute; top:50%; left:21%;  margin-top:-74px; opacity:0; transition:all 0.4s ease-in-out;}
.visual_list li.show .visual_h_group {left:20%; opacity:1;}
.visual_h_group .visual_h {display:inline-block; margin-bottom:16px; color:#0d0d0d; font-size:40px;}
.visual_h_group.visual_h_white p  {color:#fff;}
.visual_h span {display:inline-block; position:relative; padding:0 10px; color:#fff; font-size:13px; border-radius:12px; line-height:24px; vertical-align:super;}
.visual_h_group .h_percent {background-color:#ff3131;}
.visual_h_group .h_coupon {background-color:#00b160;}
.h_percent.semo::before {border-color:#ff3131 transparent transparent transparent;}
.h_coupon.semo::before {border-color:#00b160 transparent transparent transparent;}
.visual_h_group .visual_desc {color:#0d0d0d; font-size:15px; line-height:24px;}

.visual .indicator_group {position:absolute; left:50%; bottom:5%; z-index:1; margin-left:-74px;}
.indicator_group .indicator_list {font-size:0;}
.indicator_list li {display:inline-block; width:10px; height:10px; border-radius:50%; background-color:#999; cursor:pointer; opacity:0.4;}
.indicator_list li + li {margin-left:12px;}
.indicator_list li.active {background-color:#fff; opacity:1;}

.visual_btn {position:absolute; top:50%; z-index:1; width:50px; height:100px; margin-top:-50px; background:url('../images/mainvisualbtn.png') no-repeat; text-indent:-9999px;}
.visual_btn.visual_prev {left:5%;}
.visual_btn.visual_next {right:5%; background-position:-50px;}


/*timesale*/
.timesale {background:url('../images/bg_pattern_slash.png') repeat;}
.timesale .timesale_group {position:relative; height:160px; text-align:center; vertical-align:middle;}
.timesale_group .desc_img {overflow:hidden; position:absolute; top:50%; left:-10px; width:350px; height:58px; margin-top:-29px;}
.desc_img a {display:block;}
.desc_img span {position:absolute; top:50%; right:0; margin-top:-30px; color:#ff3131; font-size:40px;}

.timesale .timesale_center {display:inline-block; padding:50px 0; font-size:18px; line-height:30px;}
.timesale_center h2 {color:#000; font-size:18px;}
.timesale_center .line_thr  {color:#999; text-decoration:line-through;}
.timesale_center .font_bold_RO {color:#ff3131;}

.timesale_group .timesale_right {position:absolute; top:-70px; right:0; z-index:2; width:300px; height:300px; border-radius:50%; background-color:#fff;}
.timesale_right a {display:block;} 
.timesale_right a img {width:260px; height:260px; padding:20px;border-radius:50%;}


/*big3*/
.big3 {padding:90px 0 15px;}
.big3 .big3_list {font-size:0;}
.big3_list li {display:inline-block;}
.big3_list li + li {padding-left:30px;}
.big3_list l a {display:block;}
.big3_desc .big3_h {display:inline-block; padding-top:14px; font-size:17px;}
.big3_desc p {padding-top:10px; font-size:13px;}
.big3_desc span {margin-left:5px; color:#ff3131; font-size:17px;}
.big3_desc .desc_red {color:#ff3131;}
.big3_desc .desc_blue {color:#3f75ff;}


/*mainevt*/
.mainevt {padding-top:30px;}
.mainevt .bx_img a {display:block;}


/*mdpick*/
.mdpick {padding-top:80px;}
.mdpick > .inner_content {padding-bottom:40px; background:url('../images/bg_pattern_line.png') 0 100% repeat-x;}
.mdpick .md_left {display:inline-block; vertical-align:top;}
.md_left .md_left_h {font-size:32px; font-weight:500;}
.md_left p {position:relative; padding-top:60px; color:#333; font-size:13px; line-height:24px;}
.md_left p::before {display:inline-block; position:absolute; top:40px; left:0; width:8px; height:1px; background-color:#666; content:'';}
.md_left .md_left_list {padding-top:80px;}
.md_left_list li {font-weight:500;}
.md_left_list li + li {margin-top:10px;}
.md_left_list li a {display:inline-block; height:24px; padding:0 10px; border-radius:12px; background-color:#eee; font-size:13px; line-height:24px;}
.md_left_list li a:hover {background-color:#ddd;}

.mdpick .md_right {display:inline-block; width:880px; margin-left:118px;}
.md_right .md_right_list {display:inline-block; font-size:0;}
.md_right_list li {display:inline-block; position:relative; margin:0 20px; width:260px; height:370px;}
.md_right_list li:nth-child(3n) {margin-right:0;}
.md_right_list li a {display:block;}
.md_right_list .bx_img {height:260px;}
.md_right_list .md_row {position:absolute; top:0; right:0; width:40px; height:40px; color:#fff; font-size:11px; background-color:#ff3131; line-height:40px; text-align:center;}
.md_right_list .md_desc {font-size:13px; line-height:34px;}
.md_right_list .md_desc .md_h {display:block; padding-top:8px; font-size:14px;}
.md_desc span {display:inline-block; color:#ff3131;}
.md_desc p {display:inline-block; color:#333;}


/*rolling*/
.rolling {position:relative; margin-top:30px; background-color:#f5f5f5;}
.rolling .rolling_list {font-size:0;}
.rolling_list .rolling_h {position:absolute; top:10%; left:20%; z-index:1;}
.rolling_list li {display:inline-block; position:relative; width:415px; height:680px; padding:0 30px;}
.rolling_list li a {position: absolute; left:50%; margin-left:-125px; transition: all 0.3s ease-in-out;}
.rolling_list li .top {top:5%;}
.rolling_list li .bottom {bottom:5%;}
.rolling_list .rolling_hover {position:absolute; left:50%; width:100px; margin-left:-50px; text-align:center;}
.rolling_list .rolling_hover.h_bottom {top:-50px;}
.rolling_list .rolling_hover.h_top {bottom:-50px;}
.rolling_list .rolling_hover::after {position:absolute; left:50%; width:4px; height:4px;  border-radius:50%; background-color:#ff3131; content:"";}
.rolling_list .rolling_hover.h_bottom::after {bottom:0; margin:0 0 -15px -4px;}
.rolling_list .rolling_hover.h_top::after {top:0; margin:-15px 0  0 -4px;}
.rolling_list .rolling_hover  span{display:none; color:#ff3131; font-size:15px;}
.rolling_list li a:hover span {display:block;}

/*cartpop*/
.cartpop {padding-top:126px;}
.cartpop > .inner_content {padding-bottom:64px; background:url('../images/bg_pattern_line.png') 0 100% repeat-x;}
.cartpop .cart_left {display:inline-block; margin-top:40px; vertical-align:top;}
.cart_left h2 {font-size:32px; line-height:40px;}

.cartpop .cart_right {display:inline-block; width:936px; text-align:right;}
.tab_gnb {padding-bottom:12px;}
.tab_gnb a {display:inline-block;}
.tab_gnb a span {position:relative; color:#666;}
.tab_gnb a:last-child span {margin-left:16px;}
.tab_gnb a span:hover {color:#000; font-weight:800;}
.tab_gnb a span:hover::after {position:absolute; left:0; bottom:-12px; width:100%; height:4px; background-color:#3f75ff; content:'';}
.cart_right .tab_list {font-size:0; margin-left:76px; text-align:left;}
.tab_list li {display:inline-block; overflow:hidden; position:relative; margin:20px; width:180px; font-size:12px;}
.tab_list li:nth-child(4n) {margin:20px 0 20px 20px;}
.tab_list li a {display:block;}
.tab_list .cart_desc {position:absolute; bottom:-54px; width:100%; height:38px; padding:8px 0; background-color:rgb(0, 0, 0, 0.5); color:#fff; line-height:16px; transition:all 0.3s;}
.cart_desc .cart_h {display:block; overflow:hidden; padding-left:10px; font-size:13px;font-family:'Nanum Gothic','돋움',dotum,sans-serif; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.cart_desc span {display:inline-block; padding-left:10px; color:#ffa9a9;}
.cart_desc p {display:inline-block; padding-left:5px;}
.tab_list li a:hover .cart_desc {bottom:0;}


/*giftbnr*/
.giftbnr {height:170px; padding:28px 0 50px; font-size:0;}
.giftbnr .bx_img {display:inline-block; width:570px;}


/*onlybrand*/
.onlybrand {padding:100px 0; font-size:0;}
.onlybrand .only_left {display:inline-block; width:50%;}
.only_left .only_h {font-size:0;}
.only_h h2 {display:inline-block; margin-right:167px; font-size:32px; line-height:40px;}
.only_h a {display:inline-block; padding-bottom:16px; vertical-align:bottom;}
.only_h a + a {margin-left:16px;}
.only_h a span {position:relative; padding-bottom:8px; color:#666; font-size:12px;}
.only_h a span:hover {color:#000; font-weight:800;}
.only_h a span:hover::after {position:absolute; left:0; bottom:0; width:100%; height:4px; background-color:#3f75ff; content:'';} 
.only_left .only_img {padding:15px 0 20px; width:540px;}

.only_thmb .thmb_list {font-size:0}
.thmb_list li {display:inline-block; overflow:hidden; position:relative; width:160px;}
.thmb_list li + li {margin-left:30px;}
.thmb_list li a {display:block;}
.thmb_list .only_discount {position:absolute; top:-30px; right:-30px; width:60px; height:16px; padding-top:44px; background-color:#ff3131; color:#fff; font-size:12px; text-align:center; transform:rotate(45deg); transition:all 0.3s;}
.thmb_list .only_desc {position:absolute; bottom:-54px; width:160px; height:38px; padding:8px 0; color:#fff; font-size:12px; background-color:rgb(0, 0, 0, 0.5); line-height:16px; transition:all 0.3s;}
.only_desc .only_thmb_h {display:block; overflow:hidden;  padding-left:10px; font-size:13px; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.only_desc span {display:inline-block; padding-left:10px;color:#ffa9a9;}
.only_desc p {display:inline-block;}
.thmb_list li a:hover .only_desc {bottom:0;}
.thmb_list li a:hover .only_discount {top:-60px; right:-60px;}

.onlybrand .only_right {display:inline-block; position:relative; width:540px; margin-left:30px;}
.onlybrand .only_right::before {position:absolute; top:0; left:-30px; height:100%; border-left:1px solid #eee; content:'';}
.only_right a {display:block;}


/*onebrand*/
.onebrand {position:relative; height:280px; margin-bottom:326px; background-color:#ffb137; font-size:0;}
.onebrand > .inner_content {height:606px; background:url('../images/bg_pattern_line.png') 0 100% repeat-x;}
.onebrand .onebrand_group {position:absolute; top:80px;}
.onebrand_group .onebrand_left {display:inline-block; width:440px; height:440px; box-shadow:8px 8px 16px 0 rgb(0, 0, 0, 0.1);}
.onebrand_left a {display:block;}

.onebrand_group .onebrand_right {display:inline-block; margin-left:40px; vertical-align:top;}
.onebrand_right .onebrand_desc {display:inline-block; margin-bottom:100px;}
.onebrand_desc .onebrand_h {display:inline-block; padding:20px 0; font-size:40px;}
.onebrand_h span {color:#ff3131;}
.onebrand_desc p {color:#333; font-size:13px; letter-spacing:2px;}
.onebrand_list li {display:inline-block; width:150px; height:150px;}
.onebrand_list li + li {margin-left:20px;}
.onebrand_list li a {display:block;}
.onebrand_list .onebrand_list_desc {height:27px; font-size:12px;line-height:27px;}
.onebrand_list_desc span {display:inline-block; color:#ff3131;}
.onebrand_list_desc p {display:inline-block; margin-left:5px;}

.onebrand_list .onebrand_more {display:inline-block; width:148px; height:148px; border:1px solid #ffb137; text-align:center; vertical-align:top;}
.onebrand_list .onebrand_more a {width:148px; height:148px;}
.onebrand_more span {display:inline-block; position:relative; margin-top:52px; padding-top:30px; color:#666; font-size:11px;}
.onebrand_more span::after {overflow:hidden; position:absolute; top:0; left:9px; width:15px; height:15px; background:url('../images/sp_icon.png') 0 -215px no-repeat; content:''; transition:all 0.3s;}
.onebrand_more a:hover span::after {transform:rotate(90deg);}


/*wishbest*/
.wishbest {padding-top:80px; font-size:0;}
.wishbest > .inner_content {padding-bottom:24px; background:url('../images/bg_pattern_line.png') 0 100% repeat-x;}
.wishbest .wish_left {display:inline-block; vertical-align:top;}
.wish_left h2 {font-size:32px;}
.wish_left a {display:inline-block; margin-top:20px; color:#666; font-size:13px;}
.wish_left a:hover {text-decoration:underline;}
.wish_left a span {margin-bottom:2px; width:4px; height:6px; background:url('../images/arrow_right.png') -28px 0 no-repeat;}

.wishbest .wish_right {display:inline-block; margin-left:136px; width:860px;}
.wish_list li {display:inline-block; width:180px; height:270px; margin:0 20px;}
.wish_list li:nth-child(4n) {margin:0 0 0 20px;}
.wish_list li a {display:block; font-size:12px;}
.wish_right .wish_desc {line-height:18px;}
.wish_desc .wish_desc_h {padding-top:10px; color:#000; font-size:13px;}
.wish_desc span {display:inline-block; color:#ff3131;}
.wish_desc p {display:inline-block; color:#333;}


/*introbrand*/
.introbrand {height:640px; margin-top:30px; background:url('../images/introbrand.jpg') no-repeat; background-color:#e6e7eb;}
.introbrand > .inner_content {text-align:right;}
.introbrand .intro_group {display:inline-block; margin-top:80px; width:620px; text-align:left;}
.intro_top h2 {font-size:24px; line-height:30px;}
.intro_top h3 {font-size:40px; line-height:46px;}
.intro_top h3 span {font-size:20px;}
.intro_top p {width:560px; padding:30px 0 16px; font-size:13px; line-height:24px;}
.intro_top a {color:#666; font-size:11px;}
.intro_top a span {margin-bottom:2px; width:4px; height:6px; background:url('../images/arrow_right.png') -28px 0 no-repeat;}

.intro_group .intro_list {margin-top:39px; font-size:0;}
.intro_list li {overflow:hidden; display:inline-block; position:relative; width:180px; box-shadow:10px 10px 20px 0 rgba(0, 0, 0, 0.2);}
.intro_list li + li {margin-left:40px;}
.intro_list li a {display:block;}
.intro_list .intro_discount {position:absolute; top:-30px; right:-30px; width:60px; height:16px; padding-top:44px; background-color:#ff3131; color:#fff; font-size:11px; text-align:center; transform:rotate(45deg); transition:all 0.3s;}
.intro_list .intro_desc {position:absolute; bottom:-54px; width:180px; height:38px; padding:8px 0; background-color:rgb(0, 0, 0, 0.4); color:#ffff; line-height:18px; transition:all 0.3s;}
.intro_desc .intro_desc_h {display:block; overflow:hidden; padding:0 10px;  font-size:13px; text-overflow: ellipsis; white-space: nowrap; word-break: break-all;}
.intro_desc span {display:inline-block; padding:0 5px 0 10px; color:#ffa9a9; font-size:12px;}
.intro_desc p {display:inline-block; font-size:12px;}
.intro_list li a:hover .intro_desc {bottom:0;}
.intro_list li a:hover .intro_discount {top:-60px; right:-60px;}

/*bestbrand*/
.bestbrand {padding:100px 0;}
.bestbrand .best_left {display:inline-block; vertical-align:top;}
.best_left h2 {font-size:32px;}
.best_left a {display:block; margin-top:20px; color:#666; font-size:13px;}
.best_left a:hover {text-decoration:underline;}
.best_left a span {margin-bottom:2px; width:4px; height:6px; background:url('../images/arrow_right.png') -28px 0 no-repeat;}

.bestbrand .best_list {display:inline-block; margin-left:120px; font-size:0;}
.best_list li {display:inline-block; position:relative; font-size:11px;}
.best_list li + li {margin-left:40px;}
.best_list li a {display:block;}
.best_list .best_desc {position:absolute; top:0; width:260px; height:360px; background-color:rgb(0, 0, 0, 0.6); line-height:50px; text-align:center; opacity:0; transition:all 0.3s;}
.best_desc p {padding-top:160px; color:#fff; font-size:20px; font-weight:800;opacity:0; transition:all 0.6s;}
.best_desc span {position:relative; margin-top:50px; color:#fff; font-size:12px; opacity:0; transition:all 0.6s;}
.best_desc span::after {display:inline-block; position:absolute; top:-18px; left:50%; width:6px; height:1px; margin-left:-3px; background-color:#fff; content:'';}

.best_list a:hover .best_desc, .best_list a:hover .best_desc p, .best_list a:hover .best_desc span {opacity:1;}
.best_list a:hover .best_desc p {padding-top:130px;}

/*tenclass*/
.tenclass {padding:90px 0 70px; background:url(../images/bg_pattern_slash.png) repeat;}
.tenclass .tenclass_left {display:inline-block; vertical-align:top;}
.tenclass_left h2 {font-size:32px;}
.tenclass_left > a {display:block; margin-top:20px; color:#666; font-size:13px;}
.tenclass_left >  a:hover {text-decoration:underline;}
.tenclass_left > a span {margin-bottom:2px; width:4px; height:6px; background:url('../images/arrow_right.png') -28px 0 no-repeat;}
.tenclass_left .tenclass_left_list {margin-top:100px;}
.tenclass_left_list li {width:106px; line-height:20px; border-radius:12px; background-color:#333;}
.tenclass_left_list li + li {margin-top:8px;}
.tenclass_left_list li a {display:block; padding-left:10px; color:#fff; font-size:11px; }
.tenclass_left_list li a span {margin-left:2px; width:4px; height:6px; background:url('../images/arrow_right.png') -56px 0 no-repeat; vertical-align:middle;}

.tenclass .tenclass_list {display:inline-block; margin-left:108px; font-size:0;}
.tenclass_list li {display:inline-block; width:260px;}
.tenclass_list li + li {margin-left:40px;}
.tenclass_list li a {display:block;}
.tenclass_desc {line-height:40px;}
.tenclass_desc .tenclass_h {display:block; padding-top:15px; font-size:13px;}
.tenclass_desc p {display:inline-block; color:#333; font-size:12px;}


/*newmember*/
.newmember {padding-top:30px;}
.newmember > .inner_content {position:relative; padding-bottom:94px; background:url('../images/bg_pattern_line.png') 0 100% repeat-x;}
.newmember .bx_img a {display:block;}
.newmember .bx_img p {position:absolute; top:23px; left:5%; color:#fff; font-size:28px;}
.newmember .newmemb_list {position:absolute; top:60px; right:5%; margin-top:-18px; font-size:0;}
.newmemb_list li {display:inline-block; width:120px; height:36px; border-radius:30px; background-color:#fff; text-align:center;}
.newmemb_list li + li {margin-left:10px;}
.newmemb_list li a {display:block; color:#ff3131; font-size:15px; line-height:36px;}
.newmemb_list li a span {margin-left:2px; width:4px; height:6px; background:url('../images/arrow_right.png') 0 0 no-repeat; vertical-align:middle;}


/*tenculture*/
.tenculture {padding-top:90px; font-size:0;}
.tenculture > .inner_content {padding-bottom:14px; background:url('../images/bg_pattern_line.png') 0 100% repeat-x;}
.tenculture .culture_left {display:inline-block; vertical-align:top;}
.culture_left h2 {font-size:32px;}
.culture_left a {display:block; margin-top:20px; color:#666; font-size:13px;}
.culture_left a:hover {text-decoration:underline;}
.culture_left a span {width:4px; height:6px; background:url('../images/arrow_right.png') -28px 0 no-repeat; content:'';}

.tenculture .culture_list {display:inline-block; margin-left:140px; width:800px;}
.culture_list li {display:inline-block; margin-bottom:80px;}
.culture_list li:nth-child(2n) {margin-left:60px;}
.culture_list li > a {display:inline-block;}
.culture_list li .bx_img {display:inline-block; width:160px;}
.culture_list .culture_desc {display:inline-block; margin-left:30px; width:180px; font-size:12px; vertical-align:top;}
.culture_desc .semo {display:inline-block; position:relative; padding:2px 10px; color:#fff; border-radius:12px; background-color:#333; font-size:11px; line-height:18px; text-align:center;}
.culture_desc .semo::before {top:10px; border-width:10px 10px 0 0; border-color:#333 transparent transparent transparent;}
.culture_desc h2 {margin-top:50px; color:#333; font-size:15px; line-height:40px; }
.culture_desc > a {color:#333;}
.culture_desc > a span {width:16px; height:16px; margin-right:5px; background:url('../images/sp_icon.png') -184px -150px no-repeat; vertical-align:middle; content:'';}
.culture_desc p {margin-top:10px; padding-top:10px; border-top:1px solid  #ddd; color:#333; line-height:20px;}


/*service*/
.service {padding:74px 0 120px; font-size:0;}
.service .service_desc h2 {display:inline-block; font-size:32px;}
.service_desc p {display:inline-block; margin-left:20px; font-size:13px;}
.service_list li {display:inline-block; font-size:11px;} 
.service_list li + li {margin-left:60px;}
.service_list li a {display:block;}


/*linebnr*/
.linebnr {position:relative; font-size:0;}
.linebnr .linebnr_group {display:inline-block; width:50%; height:85px;}
.linebnr .linebnr_left {background-color:#f2697b;}
.linebnr .linebnr_right {background-color:#6ec9c0;}
.linebnr_group a {display:block; width:100%; height:100%;}
.linebnr_group .bx_img {position:absolute; top:-53px;}
.linebnr_left .bx_img {left:267px; width:685px;}
.linebnr_right .bx_img {right:385px; width:565px; height:138px}
.linebnr_right .bx_img img {height:100%;}
.linebnr_right .semo::before {top:52px; margin-left:-40px; border-style:solid; border-width:86px 40px 0 0; border-color:transparent #6ec9c0 transparent transparent;}


/*info*/
.info {padding:90px 0; background-color:#f7f7f7; font-size:0;}
.info .info_group {width:1000px; padding:60px 70px 44px; border-top:4px solid #ff3131; background-color:#fff;}
.info_group h4 {display:inline-block; font-size:16px;}
.info_group a:hover {text-decoration:underline;}
.info_group .info_loner {padding:25px 0;}
.info_group .info_red {color:#ff3131;}

.info_group .info_left {display:inline-block; width:320px; vertical-align:top;}
.info_left h4 {margin-right:200px; margin-bottom:10px;}
.info_left a {display:block;}
.info_left ul {border-top:1px solid #ddd; padding-top:16px;}
.info_left .left_more {display:inline-block; color:#666; font-size:10px;}
.info_left .left_more span {width:4px; height:6px; background:url('../images/arrow_right.png') -28px 0 no-repeat;}
.info_notice .info_new {width:12px; height:12px; background:url('../images/sp_icon.png') -22px 0 no-repeat; vertical-align:top;} 

.notice_list li  a {overflow:hidden; color:#000; font-size:12px; line-height:28px; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.info_store .left_more {margin-left:12px;}
.info_left .info_store {margin-top:30px;}
.store_list li {display:inline-block; width:158px; line-height:28px;}
.store_list li a {font-size:12px;}

.info_group .info_right {display:inline-block; margin-left:83px; font-size:12px; line-height:24px;}
.info_right h4 {margin-bottom:16px;}
.info_right .inforight1 {display:inline-block; width:210px; vertical-align:top;}
.info_right .inforight2 {display:inline-block; width:210px; vertical-align:top;}
.inforight2 .joinus {margin-top:60px;}
.joinus span {width:4px; height:6px; margin-left:5px; background:url('../images/arrow_right.png') -14px 0 no-repeat;}

.info_right .inforight3 {display:inline-block; width:170px;}
.sns_list li {line-height:28px;}
.sns_list a span {display:inline-block; overflow:hidden; width:12px; height:12px; margin:-2px 5px -2px 0;  background:url(../images/sp_icon.png) no-repeat; content:'';}
.sns_list .facebook {background-position:-170px 0;}
.sns_list .insta {background-position:-192px 0;}
.sns_list .pinter {background-position:-214px 0;}

.inforight3 .mobile {margin-top:10px;}
.mobile h4 {display:block;}
.mobile .qrcode {display:inline-block; width:60px;}
.mobile .appdown {display:inline-block; margin-left:5px;}
.mobile .andro {width:96px; height:26px; background:url('../images/btn_google_play.png') 0 0 no-repeat;}
.mobile .ios {width:96px; height:26px; background:url('../images/btn_app_store.png') 0 0 no-repeat;}
.mobile a:hover {background-position:0 -26px;}
.appcoupon a {color:#333;}
.appcoupon a span {width:4px; height:6px; background:url('../images/arrow_right.png') -14px 0 no-repeat;}