/* 내부에 공통 사이즈 정의를 하고 싶었다면  box_width보단 inner_content 이런식으로 
class 명을 봐도 알 수 있게 class 명을 짓는게 좋음*/
.inner_content {width:1140px; margin:0 auto;}
/* clearfix 순서가 css 순서와 맞지 않아요  */
/* 
이전 clearfix 순서 .clearfix:after{content:''; display:block; clear:both; width:0; height:0; overflow:hidden;} 
그리고 clearfix의 역할이 제대로 파악이 되어있는지 확인해주세요
*/
.clearfix:after{display: block;overflow: hidden;width: 0;height: 0;clear: both;content: '';}
/* 하단에 있는 hide class 사용성이 궁금해요 */
.hide{display:none;}

/* css 내에도 분기를 잡아 주는 것이 좋다 */
/* header */
#wrap {min-width:1200px;}
#header {height:126px;font-family: "Nanum Gothic", sans-serif;}
#nav{height:86px; background-color:#f22727;}
/* 되로록이면 color 는 rgb 사용하지만고 hex 값으로 해주세요  값을 모르겠으면 해당 값을 인터넷에 복붙하면 되요*/
.gnb {height:40px;background-color:#805050; color:#555;}
/* 하단에 url 부분에 ''부분이 빠짐 */
/* 지금 현재 float left, right 같은 float 값이 많이 쓰였는데 clearfix 해주는게 없어요. clearfix 추가대신 직접추가 해주세요  */
.logo{float:left;width:160px;height:28px;background:url('../images/logo.png')  no-repeat;}
.logo:after{display: block;overflow: hidden;width: 0; height: 0;clear: both;content: '';}
/* display block을 선언했기 때문에 width 160px은 필요 없음 */
.logo a {display:block; height:28px;}

/* menu */
.menu_top {float: right;padding-bottom: 13px;}
.menu_top:after{display: block;overflow: hidden;width: 0; height: 0;clear: both;content: '';}
/* menu_top li 의 padding-bottom 은 전체를 감싸는 menu_top 에다 해도 괜찮을 것 같습니다. */
.menu_top li{float:left;padding-left: 10px;}
.menu_top li:after{display: block;overflow: hidden;width: 0; height: 0;clear: both;content: '';}
/* 
nth-child 부분이 붙이 있지 않습니다. 붙여주세요  
content 는 마지막에 써주세요. css 라인 통일해주세요.
nth-child(1) 대신 first-child 사용해주세요 이유: 크로스 브라우징
*/
.menu_top li:first-child:after {display:inline-block;position: absolute;top: 0;left: 0;width: 1px;height: 7px;background-color: #ff7f50;vertical-align: top;content: '';}
/* font-weight 11px 아닙니당 font-size (요건 오타 일 것 같으니 :) */
.menu_top li a{color:#fff; font-size:11px;}